@mixin font($font-size, $line-height) {
  font-size: $font-size + em;
  line-height: $line-height;
}

// 共通
body {
  // min-width: 1022px;
  width: 100vw;
  .wrap {
    // overflow: hidden;
  }
}
.text {
  @include font(1.6, 1.3125);
}
.small {
  @include font(1.4, 1.357);
}
.contact-btn {
  width: 155px;
  height: 37px;
  color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background: linear-gradient(90deg, #fa41cc, #6020b0);
  border-radius: 10px;
  a {
    color: #fff;
  }
}
.title {
  @include font(3.2, 1.34375);
  text-align: center;
}
.en-title {
  color: #3ba6c9;
  text-align: center;
  margin-top: 14px;
}
.sub-title {
  @include font(2.8, 1.32143);
  text-align: center;
}
.inner {
  max-width: 1022px;
  margin: 0 auto;
}
.read {
  @include font(1.6, 1.625);
}

/*************  header    ****************/
header {
  height: 94px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  z-index: 10;

  .header-inner {
    display: flex;
    align-items: center;
    max-width: 1022px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 21px;

    .header-brand a {
      display: flex;
      align-items: center;

      img {
        height: 47px;
        width: 47px;
      }
      p {
        @include font(2.4, 1.333);
        margin-left: 16px;
      }
    }

    #header-nav {
      margin-right: auto;
      margin-left: auto;
      display: block;
      .header-nav-list {
        display: flex;
        .header-nav-item:nth-child(n + 2) {
          margin-left: 46px;
        }
      }
    }

    .contact-btn {
      margin: 0 0 0 auto;
    }

    /****************hamburgerメニューの3本線*********************/
    /****hamburgerメニューの3本線の設定******/
    $bar-wid: 40px;
    $bar-hei: 30px;
    $line-hei: 3px;
    /**************************************/
    #burger-btn {
      display: none;
      margin: 0 10px 0 auto;
      z-index: 10;
      position: relative;
      width: $bar-wid;
      height: $bar-hei;

      .bar {
        display: block;
        height: $line-hei;
        width: 100%;
        background-color: #000;
        transition: 0.3s;
        z-index: 10;
      }
      .bar-top,
      .bar-mid {
        margin-bottom: calc((#{$bar-hei} - (#{$line-hei} * 3)) / 2);
      }
    }
    .scroll {
      .bar-top {
        transform-origin: center;
        transform: translateY(calc((#{$bar-hei} - #{$line-hei}) / 2))
          rotate(30deg);
      }
      .bar-mid {
        opacity: 0;
      }
      .bar-bot {
        transform: translateY(calc((-1) * (#{$bar-hei} - #{$line-hei}) / 2))
          rotate(-30deg);
      }
    }
    /***************   end of hamburgerメニューの3本線    ******************/
  }
}
/************end of header****************/

/************   top       ****************/
.top {
  margin-top: 94px;
  padding-top: 131px;
  padding-bottom: 113px;
  width: 100%;
  overflow: hidden;

  .top-inner {
    max-width: 1022px;
    padding-left: 20px;
    margin: 0 auto;
    position: relative;
    display: flex;

    .top-content {
      .title {
        margin-top: 30px;
        margin-bottom: 53px;
        text-align: left;
      }

      .contact-btn {
        margin-top: 55px;
      }
    }

    .top-image {
      max-width: 518px;
      width: 50.685vw;
      max-height: 430px;
      height: 42.075vw;
      margin: 0 0 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .top-inner::before {
    content: "";
    width: 708px;
    height: 711px;
    background-image: url("../img/楕円形\ 1@2x.png");
    z-index: -10;
    position: absolute;
    bottom: -26px;
    left: 551px;
  }
}
/************  end of top ****************/

/************   feature   ****************/
#feature {
  padding: 73px 0 155px 0;

  .inner{
    padding: 0 20px;
  }

  .sp {
    display: none;
  }
  .pc910{
    display: block;
  }

  .en-title {
    margin-bottom: 13px;
  }
  .feature:nth-of-type(1) {
    padding-top: 73px;
    .sub-title {
      margin-bottom: 50px;
    }

    img {
      width: 37.182vw;
      height: 30.724vw;
      max-width: 380px;
      max-height: 314px;
      margin-right: 30px;
    }
    .feature-title {
      margin: 49px 0 48px 0;
    }
  }
  .feature:nth-of-type(2) {
    padding-top: 88px;
    .sub-title {
      margin-bottom: 60px;
    }

    img {
      width: 46.87vw;
      height: 32.192vw;
      max-width: 479px;
      max-height: 329px;
      order: 2;
      margin-left: 30px;
    }
    .feature-title {
      margin: 4px 0 43px 0;
    }
  }
  .feature:nth-of-type(3) {
    padding-top: 138px;
    .sub-title {
      margin-bottom: 63px;
    }

    img {
      width: 39.14vw;
      height: 28.38vw;
      max-width: 400px;
      max-height: 290px;
    }
    .feature-text {
      margin-right: 117px;

      .feature-title {
        margin: 22px 0 36px 0;
      }
    }
  }

  .feature-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .feature-title {
      @include font(2.4, 2);
    }
  }
}
/************  end of feature ************/

/************     price    ****************/
#price {
  background-color: #eefbfb;
  padding: 53px 0 72px 0;

  .price-table {
    margin: 71px auto 38px auto;
    max-width: 926px;
    width: 90.6vw;
    height: 410px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-spacing: 0;

    td :not(.price-content:last-of-type > td) {
      border-bottom: 1px solid #e5e5e5;
    }
    .price-title {
      padding: 0 19px;
    }
    .price {
      border-left: 1px solid #e5e5e5;
      width: 68.7365%;
      padding-left: 30.5px;
    }
  }

  .presta {
    text-align: center;
    color: #444444;
  }
}
/************  end of price ***************/

/************    faq      ****************/
#faq {
  padding: 57px 0 86px 0;

  #faq-aco {
    margin: 33px auto 0 auto;
    max-width: 907px;
    width: 88.74756vw;

    .question,
    .answer {
      border: 1px solid #e5e5e5;
      @include font(1.4, 1.857);
      cursor: pointer;
    }

    .question + .answer {
      border-top: none;
    }
    .answer + .question {
      border-top: none;
    }
    .question {
      text-align: center;
      padding: 19px 10px 20px 10px;
    }
    .answer {
      background-color: #f2f2f2;
      padding: 25px 35px;
      color: #444444;
    }
  }
}
/************  end of faq ****************/

/************    blog     ****************/
#blog {
  background-color: #eefbfb;
  padding: 57px 0 91px 0;

  .blogs {
    margin-top: 55px;
    display: flex;
    width: auto;

    .blog {
      max-width: 389px;
      width: 28.477vw;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

      img {
        width: 100%;
        height: auto;
      }

      .blog-title {
        @include font(1.8, 1.4444);
        width: 88%;
        margin-left: 18px;
        margin-top: 16px;
        margin-bottom: 35px;
      }

      .text {
        color: #444444;
        display: block;
        position: absolute;
        bottom: 11px;
        right: 30px;
      }
    }
    .blog:nth-of-type(n + 2) {
      margin-left: 30px;
    }
    .blog:first-of-type {
      margin-left: auto;
    }
    .blog:last-of-type {
      margin-right: auto;
    }
  }
}
/************ end of blog ****************/

/************   works      ***************/
#works {
  padding: 57px 0 90px 0;
  width: 100%;
  overflow: hidden;


  .swiper-container {
    overflow: hidden;
    width: 100vw;
    margin-top: 59px;

    .swiper-slide {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border: 1px solid #dddddd;
      border-radius: 10px;
      width: 23.57247%;
      margin: 0 2.05%;
    }

    img {
      width: 100%;
      height: 15.37335286vw;
      object-fit: cover;
    }

    .slide-content {
      padding: 21px 16px 42px 18px;

      .slide-title {
        @extend .text;
        margin-bottom: 35px;
      }
      .slide-info {
        @extend .small;
      }
    }
  }
}
/************  end of works **************/

/************   contact     ****************/
#contact {
  padding: 65px 0 70px 0;
  background: linear-gradient(90deg, #05a5fa, #63fbd7);

  .title,
  .en-title,
  .contact-text {
    color: #fff;
  }
  .contact-text {
    text-align: center;
    margin: 39px 0 48px 0;
  }

  #contact-form {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    max-width: 908px;
    width: 88.8455vw;
    margin: 0 auto;
    padding: 30px 62px 35px 63px;

    label,
    input,
    textarea {
      display: block;
    }
    input,
    textarea {
      background-color: #eefbfb;
      padding: 0.5em;
      font-weight: 400;
    }

    input {
      width: 499px;
      height: 2.6975em;
      margin-bottom: 19px;
      margin-top: 35px;
    }
    .ness {
      @include font(0.875, 1.357);
      border-radius: 10px;
      background-color: #0c449b;
      color: #fff;
      padding: 5px 15px;
    }
    label:first-of-type {
      position: relative;
      .ness {
        margin-left: 26px;
      }

      .ness-text {
        position: absolute;
        top: 27px;
      }
    }
    label:nth-of-type(2) {
      position: relative;
      .ness {
        margin-left: 48px;
      }
      .ness-text {
        position: absolute;
        top: 27px;
      }
    }
    label:last-of-type {
      position: relative;
      .ness {
        margin-left: 32px;
      }
      .ness-text {
        position: absolute;
        top: 27px;
      }
    }

    textarea {
      width: 100%;
      height: 179px;
      margin-top: 33px;
      margin-bottom: 31px;
      resize: none;
    }

    .ness-text {
      color: red;
    }

    .privacy {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      input {
        margin: 0 10px 0 0;
        width: 20px;
        height: 20px;
      }
    }

    .contact-btn {
      display: block;
      margin: 0 auto;
    }

    .error {
      @include font(1.4, 1);
      color: red;
      position: absolute;
      left: calc(50% - 70px);
      bottom: 12px;
    }
  }
}
/************  end of contact *************/

/************   footer    ****************/
footer {
  background-color: #f8f8f8;
  padding: 45px 0 50px 0;
  text-align: center;

  .footer-title {
    @include font(2.4, 1.3333);
    margin-bottom: 24px;
  }

  .text:last-child {
    display: inline-block;
    margin-left: 68px;
  }
  small {
    font-weight: 400;
    display: block;
    margin-top: 54px;
  }
}
/************  end of footer *************/
